.Practice {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  margin-bottom: 32px;
}

.Practice-header {
  background-color: #0288D1;
  border-radius: 4px 4px 0 0;
  color: #FFF;
  padding: 0 12px;
}

.Practice-content {
  padding: 16px;
}