.PracticeRow {
  display: flex;
}

.PracticeRow:not(:last-child) {
  margin-bottom: 16px;
}

.PracticeRow-date {
  width: 110px;
  margin-right: 16px;
  border-radius: 4px;
}

.PracticeRow-entries {
  display: flex;
  flex-grow: 1;
}


@media only screen and (max-width: 600px) {
  .PracticeRow {
    flex-direction: column;
  }

  .PracticeRow:not(:last-child) {
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #E0E0E0;
  }  

  .PracticeRow-entries {
    flex-direction: column;
  }

  .PracticeRow-date {
    line-height: 16px;
    margin-bottom: 16px;
  }
}