body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

div {
  line-height: 32px;
}

button {
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 32px;
  position: relative;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

button:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.05;
}

button:active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.1;
}

button:focus {
  outline: 0;
}
